# ========== 密钥环境变量 绝对不上传云端 ==========
.env

# ========== Python后端缓存 ==========
__pycache__/
*.pyc
*.pyo
*.pyd

# ========== SQLite数据库、向量库文件 ==========
*.db
*.sqlite
chat.db
faiss.index
chunks.pkl

# ========== 前端文件 ==========
dist/
node_modules/

# ========== Docker无关缓存 ==========
.DS_Store
.vscode/